ENV=development

LOGGER_DEBUG=true
LOGGER_LOGS_TO_FILE=false
LOGGER_LOGS_DIR=./logs
LOGGER_TIMEZONE=Europe/Moscow

GRPC_PORT=50051
GRPC_CONNECTION_TIMEOUT=5s
GRPC_SHUTDOWN_TIMEOUT=15s
GRPC_REQUEST_TIMEOUT=3s
GRPC_MAX_CONNECTIONS_AGE=5m
GRPC_MAX_CONCURRENT_STREAMS=256
GRPC_MAX_RECEIVE_MESSAGE_SIZE=4194304
GRPC_MAX_SEND_MESSAGE_SIZE=4194304
GRPC_KEEPALIVE_TIME=30s
GRPC_KEEPALIVE_TIMEOUT=10s

METRICS_ENABLED=true
METRICS_PORT=2112
METRICS_SHUTDOWN_TIMEOUT=5s

NATS_URL=nats://nats:4222
NATS_NAME=top-search
NATS_CONNECT_TIMEOUT=10s
NATS_RECONNECT_WAIT=2s
NATS_MAX_RECONNECT=60
NATS_RETRY_ON_FAILED_CONNECT=true
NATS_STREAM_NAME=SEARCH_QUERIES
NATS_CONSUMER_NAME=top-search-consumer
NATS_SUBJECT=search.query.created

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=0
REDIS_CONNECT_TIMEOUT=5s
REDIS_DIAL_TIMEOUT=3s
REDIS_READ_TIMEOUT=2s
REDIS_WRITE_TIMEOUT=2s
REDIS_POOL_SIZE=32
REDIS_MIN_IDLE_CONNS=8
